/* ------------------------------------Menu button--------------------------------------------- */
.ham-burger-container{
    width:30px;
    height:24px;
    margin-right:2em;
    position: relative;
    cursor:pointer;
    display: none;
  }

  .ham-burger-top{
    width:30px;
    height:2px;
    position: absolute;
    background:whitesmoke;
    top:1px;
    left:0;
    transition:all 150ms linear;
    border-radius: 1px;

  }

  .ham-burger-mid{
    width:30px;
    height:1.8px;
    position:absolute;
    top:10px;
    left:0;
    background:whitesmoke;
    transition:all 150ms linear;
    border-radius: 1px;
  }

  .ham-burger-bottom{
    width:30px;
    height:2px;
    position:absolute;
    top:20px;
    left:0;
    background:whitesmoke;
    transition:all 150ms linear;
    border-radius: 1px;
  }

  .ham-burger-container.is-active .ham-burger-top{
      transform:rotate(40deg);
      transform-origin: 1px 2px;
      height: 2px;
  }

  .ham-burger-container.is-active .ham-burger-mid{
    transform:translateX(-30px);
    opacity:0;
  }

  .ham-burger-container.is-active .ham-burger-bottom{
    transform:rotate(-42deg);
    transform-origin:0px -1px;
    width: 30px;
    height: 2px;
}



/* ----------------------------------------DropDown section----------------------------- */
.dropdown{
    display:none;
}

.dropdown .dropdown_inner{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 25px 7em;
    background:rgb(44, 41, 54);
    box-sizing: border-box;
}

 .dropdown .dropdown_inner ul{
    margin: 0px;
    list-style-type: none;
}

 .dropdown .dropdown_inner ul li{
    margin: 0px;
    width: 100%;
    padding:7px 0px;
    text-align: center;
}

.dropdown .dropdown_inner ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0px 0px;
    font-family: 'Jost', sans-serif;
    font-size:23px;
    font-weight: 600;
    transition:all 200ms linear;
}

.dropdown .dropdown_inner ul li a:hover{
    color:#92ffff;
    letter-spacing: 1.5px;

}